body {
  background-color: #323232;
}

.loginContenedor {
  margin-right: 384px;
  margin-top: 200px;
  background-color: #323232;
}

#animacion {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
